@font-face {
    font-family: 'Amsterdam Three';
    src: url('/font/Amsterdam-Three.eot');
    src: url('/font/Amsterdam-Three.eot?#iefix') format('embedded-opentype'),
        url('/font/Amsterdam-Three.woff2') format('woff2'),
        url('/font/Amsterdam-Three.woff') format('woff'),
        url('/font/Amsterdam-Three.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

